body {
  
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, Sans-serif;
}

img {
  width: 100%;
}

p, li {
  color: white;
  font-family: Arial, Helvetica, Sans-serif;
}
.header {
  background-color: black;
  padding-left: 10px;
  border: 1px solid black;
  
}

.footer {
  background: black;
  color: white;
  border: 1px solid black;
  padding-left: 10px
}
